{% extends "app/layout.html" %}

{% block content %}{% load staticfiles %}

<div class="container">
		
        <div class="title_pol">
				<h1>О нас</h1>
				<p>Все началось давно, в прекрасном и радужном детстве, когда мальчишки, уж если не мечтали стать космонавтами, то абсолютно точно хотели летать. Летать не во сне – наяву. Со временем многое поменялось в жизни, судьбах, интересах. Мечта робко затаилась в ожидании своего часа, но продолжала манить за штурвал, пугливо напоминая о себе безрассудными прыжками с парашютом и захватывающими дух полетами на дельтаплане.
                   Сегодня же, когда отчаянная юность перешла в уверенную зрелость, а за спиной у каждого семьи и дети, интересы переходят в более спокойное русло.
                     Первый опыт съемки объектов с воздуха нам помогли получить наши партнеры, которые собирали для нас простейшие модели квадрокоптеров. Позднее компания DJI выпустила на рынок более интересные и удобные модели беспилотников «Phantom». Их небольшой размер и компактная встроенная фото-видео-камера, а также простота в управлении привели нас к решению использовать в работе аппараты этого производителя..</p>
        </div>

       
</div>



		
		
{% endblock %}
