{% extends "app/layout.html" %}
    
{% block content %}{% load staticfiles %}
       

      <div class="images">
          <div class="client1">
      <a href ="https://www.dji.com/ru" target="_blank"> <img src="{% static 'app/content/product/dji.jpg' %}" alt="Logo 1"/></a>
          <p>Устройства DJI - это не только инструменты для творчества. Мы окрыляем мечтателей, даря им шанс выйти за рамки возможного. Мы даем им возможность вдохновлять мир.Технологии DJI изменяют мир. Специалисты киноиндустрии, сельского хозяйства, охраны природы, поисково-спасательных служб, энергетики и других отраслей доверяют DJI. Они уверены, что разработки DJI помогут сделать их работу безопаснее и эффективнее. А вслед за технологиями откроются новые перспективы.</p></div>
      <div class="client2">
          <a href ="https://ru.coex.tech/" target="_blank"> <img src="{% static 'app/content/product/coex.jpg' %}" alt="Logo 2"/></a>
          <p>«Коптер Экспресс» – разработчик и производитель беспилотных летательных аппаратов и программного обеспечения для их автономности.
Компания является лидером на рынке дронов для образования и применения их в подготовке по специальностям, связанным с разработкой, эксплуатацией, управлением и программированием БПЛА.
В интересах промышленности «Коптер Экспресс» разрабатывает и производит БПЛА для автономного мониторинга территорий, доставки легковесных грузов и других миссий.</p></div>
      <div class="client3">
          <a href ="https://www.airoboticsdrones.com/" target="_blank"> <img src="{% static 'app/content/product/airobotics.jpg' %}" alt="Logo 3"/></a>
          <p>"Компания была основана в 2014 году CEO Раном Крауссом (Ran Krauss) и VP R&D Меиром Клинером (Meir Kliner).

Находится в Петах-Тикве.

Разрабатывает полностью автоматизированную платформу для управления коммерческими беспилотниками.</p></div>
      </div>

      
   
{% endblock %}

